body {
  background-color: lightblue;
  text-align: center;
  font-family: Arial;
}

.box {
  margin-top: 100px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
}